body {
	background-color: #55acee;
	color: white; 
	text-align: center;
	font-family: sans-serif;

	h1 {
		font-size: 65px;
		margin-bottom: 80px;
	}

	h2 {
		font-weight: 600;
		font-size: 30px;
	}

	h3 {
		font-weight: 400;
		font-size: 18px;
	}

	.button-look {
		background-color: #55acee;
		border: 1px solid white;
		color: white;
		width: 400px;
		padding: 10px 0;
		text-align: center;
		text-decoration: none;
		display: block;
		margin: 30px auto;
		&:hover {
			background-color: white;
			color: #55acee;
			transition: .4s;
			font-weight: 500;
		}
		
	}

	button {
		@extend .button-look;
		font-size: 18px;
	}

	a {
		@extend .button-look;
		font-size: 18px;
	}

	.buttons {
		position: absolute;
		bottom: 70px;
		text-align: center;
		width: 100%;
	}
}